<head>
  <link href="../../assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../../assets/stylesheets/recipes-styles.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <title>Share Recipes</title>
</head>
<body>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <h1><span class="logo">
        ShareRecipes!
      </span>
      </h1>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/home.html"><span class="logo">SR!<span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="select"><a href="http://localhost:3000/recipes/new">Add a Recipe <span class="sr-only">(current)</span></a></li>
        <li class="select"><a href="http://localhost:3000/recipes">See All Recipes</a></li>
        <li class="select"><a href="http://localhost:3000/tags/search">Search Recipes by Tag</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
  </div>
  <div class="row spacer">
  </div>
